body{
    background-color: hsl(212, 45%, 89%);
    /* overflow-y: hidden; */
}
.box{
    background-color: white;
    margin: 37px auto;
    width: 400px;
    height: 550px;
    border-radius: 20px;
}
img{
    max-width: 70%;
    margin: 40px 60px;
    border-radius: 20px;
}
h2{
    text-align: center;
    margin: -25px auto;
}
p{
    text-align: center;
    margin: 50px auto;
    color: hsl(210, 3%, 73%);
}
